<!DOCTYPE html>
<html>
<head>
    <title>Hack</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="first-div">
        <a href=""><h1>flask</h1></a>
    </div>

    <div class="second-div">
        <a href=""><h1>code</h1></a>
    </div>

    <div class="third-div">
        <h1>task</h1>
    </div>

    <div class="violet-div">
        <div class="white-div">
            <h1>htML</h1>
        </div>
        <div class="white-div">
            <h1>cSS</h1>
        </div>
        <div class="white-div">
            <h1>JS</h1>
        </div>
    </div>

    <div class="orange">
        <h1>one</h1>
    </div>

    <div class="blue">
        <h1>two</h1>
    </div>

    <div class="yellow">
        <h1>three</h1>
    </div>

    <div style="clear: both;"></div>

    <div class="register-div">
        <h1>Please Register✏️</h1>
        <form action="/reg_data" method="post" onsubmit="alert('submitted')">
            <input type="text" id="inp1" onfocus="focussed()" onblur="moved()" required placeholder="Enter Name" name="u_name">
            <input type="email" required placeholder="Enter Email" name="u_email">
            <input type="number" required placeholder="Enter Phone" name="u_num">
            <input type="password" required placeholder="Enter Password" name="u_pwd">
            <button id="reg-btn" type="submit">Register</button>
        </form>
    </div>

    <div class="login-div">
        <form action="/lgn_data" method="post">
            <h1>Please Login 👏🏻</h1>
            <input type="email" required placeholder="Enter Email" name="u_email">
            <input type="password" required placeholder="Enter Password" name="u_pwd">
            <button id="lgn-btn" type="submit">Login</button>
        </form>
    </div>

    <div style="clear: both;"></div>

    <div class="test">
        <button onclick="alert('clicked')">click1</button>
        <button ondblclick="alert('double cicked')"
            onmouseleave="alert('mouse left')"
            >click2</button>
        <button oncontextmenu="alert('right clicked')">click3</button>
        <button id="btn4" onmouseenter="entered()" onmouseleave="leaving()">click4</button>
        <button id="btn5" onmousedown="hold()" onmouseup="release()">click5</button>
    </div>


    <div class="test2">
        <button id="t1">click1</button>
        <button>click2</button>
        <button>click3</button>
        <button>click4</button>
    </div>

    <script src="../static/js/style.js"></script>
</body>
</html>
